@tailwind base;
@tailwind components;
@tailwind utilities;

.animeLeft {
  transform: translateX(-20px);
  opacity: 0;
  animation: animeLeft 0.3s forwards;
}

@keyframes animeLeft {
  to {
    transform: initial;
    opacity: initial;
  }
}

.loading {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 10px solid #ccc;
  border-right-color: transparent;
  animation: loading 1s infinite;
  margin-top: -10px;
  margin-left: 50%;
  margin-right: 50%;
  margin-bottom: 50%;
}
@keyframes loading {
  to {
    transform: rotate(360deg)
  }
}

